<div layout="row">
  <span flex></span>
  <div layout="column" flex>
    <div ng-hide="$root.currentUser">
      Restricted Access:
      <form>
        <md-input-container>
          <label>Username or email</label>
          <input ng-model="homeCtrl.userLogin.user" type='text'>
        </md-input-container>
        <md-input-container>
          <label>Password</label>
          <input ng-model="homeCtrl.userLogin.password" type="password">
        </md-input-container>
        <md-button ng-click='homeCtrl.login()'>Login</md-button>
      </form>
    </div>

    <div ng-show="$root.currentUser && $root.currentUser.admin">
      <h2>Clients:</h2>
      <md-list ng-repeat="user in homeCtrl.users" layout="row">
        <a ng-href="admin/client/{{user._id}}">{{ user | displayName }}</a>
      </md-list>
      <md-button layout="row" href='/admin/create-client'>
        <md-icon md-svg-icon="social:ic_person_add_24px"></md-icon> Add Client</md-button>
    </div>
  </div>
  <span flex></span>
</div>
