<div>
  <div layout="column" layout-padding layout-margin class="home-whiteframe">
    <div ng-show="$root.currentUser && $root.currentUser.admin">
      <div layout="row" layout-sm="column" layout-margin>

        <!-- AutoComplete search client -->
        <md-whiteframe-z1 class="md-whiteframe-z1" flex="50" flex-sm="100"
          layout layout-align="center center">
          <md-input-container>
            <input ng-model="userSearchString" placeholder="Search
            user...">
            <div ng-repeat="user in self.users">
              <span ng-show="user">{{user.profile.name}}</span>
            </div>
          </md-input-container>
        </md-whiteframe-z1>
        <!-- End AutoComplete search client -->

        <!--AutoComplete search album -->
        <md-whiteframe-z1 class="md-whiteframe-z1" flex="50" flex-sm="100"
          layout layout-align="center center">
          Search Album
        </md-whiteframe-z1>
      </div>
      <div layout="row" layout-sm="column" layout-margin>
        <md-whiteframe-z1 class="md-whiteframe-z1" flex="50" flex-sm="100" 
                                       layout layout-align="center center">
          Create Client
        </md-whiteframe-z1>
        <md-whiteframe-z1 class="md-whiteframe-z1" flex="50" flex-sm="100"
                                       layout layout-align="center center">
          Create Album
        </md-whiteframe-z1>
      </div>
    </div>
  </div>
</div>
